body {
    overflow: hidden;
}


.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: medium;
    background-color: #080c4c;
    color: white;
    width: 250px;
    height: 70px;
    font-size: large;
    border: none;
    font-family: sans-serif;
}
.inicial:hover {
   background-color:#2c5cac;
}

#logo {
    display: flex;
    width: auto;
    height: 60px;
}

#barra {
        display: flex;
        width: auto;
        height: 70px;
        align-items: center;
        justify-content: space-between;
        background-color: #080c4c;
        padding-left: 10px;
        padding-right: 10px;
}

