body {
    margin: 20px;
}

a {text-decoration: none;}


.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #080c4c;
    color: white;
    width: 250px;
    height: 50px;
    font-size: large;
    border: none;
    font-family: sans-serif;
}

.inicial:hover {
    color: #ffffff;
    font-size: 25px;
    text-decoration: underline;
}

#logo {
    display: flex;
    width: auto;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: center;
}

#logo1 {
    display: flex;
    width: auto;
    height: 50px;
}


#barra {
    display: flex;
    width: auto;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    background-color: #080c4c;
}



p {
    font-size: 20px;
    font-family: sans-serif;
}


#grande {
    height: 100vh;
    width: auto;
}

#local {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfd3fd;
    font-family: sans-serif;
}

#local2 {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: #cfd3fd 1px solid;
    border-radius: 10px;
    font-family: sans-serif;
}

.cima, .meio{
    height: 34%;
    width: auto;
    display: flex;
    flex-direction: row;
}

.meio {
    background-color: #cfd3fd;
}

.cima2, .meio2{
    height: 34%;
    width: auto;
    display: flex;
    flex-direction: row;
}

.cima2 {
    background-color: #cfd3fd;
}


.esquerda {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direita, .left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}


.right {height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#foto1 {
    height: 80%;
    width: 80%;
    margin-left: 15px;
}

#foto2 {
    height: 80%;
    width: 80%;
    margin-right: 15px;
    margin-left: 15px;
}

#foto3 {
    border: #080c4c 1px solid;
    height: 80%;
    width: 80%;
    margin-left: 15px;
}

.fotodafoto1 {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

#fotodafoto2 {
    border: #080c4c 1px solid;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

#fotodafoto3 {
    border: #080c4c 1px solid;
    display: flex;
    height: 80%;
    width: 80%;
    align-items: center;
}

#textoplataforma {
    margin-right: 15px;
    text-align: justify;
}

#textoplataforma2 {
    margin-left: 15px;
    text-align: justify;
}