h1 {
    font-size: 40px;
    font-family: 'Playpen Sans', cursive;
}

p {
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
}

button {
    border: solid black 1px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
    background-color: #f9f9f4;
    cursor: pointer; 
    margin-right: 10px;
}

#box {
    display: flex;
    background-color: #0017B2;
    height: 70px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

#Camada_1 {
    width: 50px;
    height: 50px;
    display: flex;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#acompanhante {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    width: 70%;
    border-radius: 8px;
    margin-top: 10px;
    background-color:#f9f9f9;
}

.um {

    font-size: 35px;
    font-family: 'Playpen Sans', cursive;
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    
}

.dois {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: auto; 
    margin-bottom: 10px; 
    font-size: larger;
    font-family: 'Playpen Sans', cursive;
    padding-left: 10px;

}

#tudo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#botaoAgendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 50px;
}

#botaoEventos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 50px;
}

#botaoPerfilEscrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 50px;
}

#botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}