
body {
    background-color: #f9f9f4;
    font-family: 'Playpen Sans', cursive;
}

input {
    border: solid 1px black;
    display: flex;
    width: 150%;
    height: 60px;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px;
    background-color: white;
}



button {
    border: solid black 1px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
    background-color: white;
    cursor: pointer; 
    margin-left: 240px;
}

#box {
    display: flex;
    background-color: #0017B2;
    height: 70px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

#Camada_1 {
    width: 50px;
    height: 50px;
    display: flex;
}

.borda {
    border: solid 1px black;
    display: flex;
    width: 90%;
    height: 60px;
    margin-right: auto;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px;
    background-color: white;
    margin-left: auto;
}


#centro {
    border: 1px black solid;
    height: 75vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#um {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

#dois {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

#arrumar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    height: 58vh;
}

::placeholder {
    font-family: 'Playpen Sans', cursive;
}

#botaoContinuar button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaoAgendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 50px;
}

#botaoEventos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 50px;
}

#botaoPerfilEscrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 50px;
}

#botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}