body {
    background-color: #f9f9f4;
    font-family: 'Playpen Sans', cursive;
}

input {
    border: solid 1px black;
    display: flex;
    width: 150%;
    height: 60px;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px;
    background-color: white;
    font-family: 'Playpen Sans', cursive;
}



button {
    border: solid black 1px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
    background-color: white;
    cursor: pointer; 
    margin-left: 240px;
}

#box {
    display: flex;
    background-color: #0017B2;
    height: 70px;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

#Camada_1 {
    width: 50px;
    height: 50px;
    display: flex;
}

.borda {
    border: solid 1px black;
    display: flex;
    width: 90%;
    height: 60px;
    margin-right: auto;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px;
    background-color: white;
    margin-left: auto;
}


#centro {
    border: 1px black solid;
    height: 70vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 10px;
}

.borda2 {
    border: solid 1px black;
    display: flex;
    width: 90%;
    height: 70px;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: white;
}

#um {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-left: 30px;
    margin-right: 135px;
}

#dois {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    
}

#arrumar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    height: 58vh;
}