body {
    background-color: #f9f9f4;
}
input {
    height: 45px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    margin-top: 5px;
}
.formulario {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    width: 76%;
}

.formulario > :first-child {
margin-right: auto; }

.input {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.sim_nao {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#titulo h1{
    display: flex;
    height: 10vh;
    width: 80vh;
}

#formulario_box {
    display: flex;
    flex-direction: column;
    align-items: center left 10px;
    justify-content: space-between;
}

#check {
    display: flex;
    flex-direction: row;
    width: 76%;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}


#dois {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 39%;
    height: 30px;
}

#arrumar {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-between;
    width: 80px;
    height: 80px;
}

#box {
    display: flex;
    background-color: #0017B2;
    height: 70px;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

#Camada_1 {
    width: 50px;
    height: 50px;
    display: flex;
}