#logoam {
    display: flex;
    size: 10%;
}

#logoesc {
    display: flex;
}

#box {
    display: flex;
    background-color: #0017B2;
    height: 70px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

#Camada_1 {
    width: 50px;
    height: 50px;
    display: flex;
}

#botaomenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 50px;
}

#botaoentre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 10px;
}

#ouestilo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 10px;
}

#botaocad {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

#botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imgfundo1 {
    display: flex;
    height: 75vh;
    width: 65vw;
    padding-top: 10px;
    padding-left: 40px;
    opacity: 0.7;
}

#imgfundo2 {
    display: flex;
    height: 75vh;
    width: 65vw;
    padding-top: 10px;
    padding-left: 40px;
    opacity: 0.7;
}

#fundopag {
    background-color: rgb(245, 227, 227);
    border-radius: 10px;
}

#arrumar {
    border: solid black 1px;



}