body {
    margin: 0;
}

#img1 {
    width: 320px;
    height: 350px;
    margin-top: 20px;
}


.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: medium;
    background-color: #080c4c;
    color: white;
    width: 250px;
    height: 50px;
    font-size: large;
    border: none;
    font-family: sans-serif;
}
.inicial:hover {
    color: #cfd3fd;
    font-size: 20px;
    text-decoration: underline;
}


#logo {
    display: flex;
    width: auto;
    height: 50px;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

#barra {
    display: flex;
    width: auto;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: #080c4c;
    padding-left: 10px;
    padding-right: 10px;
}

.listaeventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventos {
    display: flex;
    margin: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 10px;
    width: 90vw;
}

.eventos img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.detalhes {
    align-items: center;
    justify-content: center;
}

.detalhes h2 {
    color: #333;
}

.detalhes p {
    color: #666;
}
@media (max-width: 600px) {
    .eventos {
        flex: 0 0 calc(50% - 20px); /* Calcula o tamanho de cada item para 2 por linha em telas menores */
    }
}
.container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.detalhesum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.terminando {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalhesdois {
    font-size: 30px
}